[2021-04-30 11:56] ni3galave commented on #206
@jjhbw I have updated the Issue with sample code and template.

[2021-05-04 10:00] ni3galave commented on #206
@jjhbw I found the root cause of it. This is due to the Bottom borderline in the Header and footer section[See Sample doc]. If I remove these two lines from the template then the document opens without any warning. But still, I am not able to figure out why this is happening.

[2021-05-06 06:42] jjhbw commented on #207
Hi @weilies , no i'm afraid I don't know how to fix it. This seems like an issue specific to the Angular toolchain, and I expect it to be pretty common. I think you're better off looking for Angular-specific fixes. I have never worked with the Angular toolchain before, so I wouldn't know what to do.

If I can do something to improve the ergonomics of docx-templates for Angular users, just let me k

[2021-05-06 07:52] mathe42 commented on #207
Just some ideas:

1. add allowSyntheticDefaultImports: true to your tsconfig
2. DON'T USE `fs` this is not useable in browsers (so unless your writing a Angular page for electron don't use fs)

Instead of fs you have to use the `fetch` api to get the .docx file from your server or use `<input type="file">` to get the file or the new Native Filesystem API (see https://caniuse.com/?search=native%20f

[2021-05-07 03:32] weilies commented on #207
Thanks. It's inspiring but i have to wait for some guru to make a POC LOL. I am not a hard core developer but more a solution integrator. Without a working sample, what you mentioned r a bit too much for me. But thanks!!

[2021-05-07 04:25] mathe42 commented on #207
Here a small example how this might looks (useing fetch) so it might help...
https://github.com/EC-Nordbund/EC-Verwaltung/blob/old-version/src/report.ts

[2021-05-08 02:38] weilies commented on #207
[code]

I am getting error

I am able to fetch the content of the doc

[2021-05-08 07:02] mathe42 commented on #207
const template: Buffer = await fetch(...)

[2021-05-08 09:38] weilies commented on #207
const template: Buffer = await fetch(url).then((v) => v.arrayBuffer());

error

[2021-05-08 09:44] mathe42 commented on #207
const template: Buffer = await fetch(url).then((v) => v.arrayBuffer() as Promise<any>);

[2021-05-08 10:17] weilies commented on #207
The code is now without syntax error but returned with build error lol

It seems like someone reported before here but it wasn't supported by the owner of this package (correct me if i am wrong)
https://github.com/guigrpa/docx-templates/issues/86

It's quite a powerful toolkit and i so hunger to integrate the report building into my solution. But these errors making me to re-think is it stable eno

[2021-05-08 21:31] alcanrom commented on #207
Hi @weilies,

I could solve the error adding in tsconfig.json "compilerOptions": {...,"allowSyntheticDefaultImports": true}.

[2021-05-09 02:24] weilies commented on #207
It has been enabled while running the script above.

[code]

[2021-05-18 00:28] carlos-peru commented on #201
I have the same issue. What I noticed is that LibreOffice can properly display html directly. In addition, if I open a html file (with html content) and save it as a docx, it still displays the content correctly. The problem seems to be the embedding of html in this library that it only renders properly in MS Word. It does not render on Libre Office, Open Office or Google Docs. At least in my case

[2021-05-18 01:30] carlos-peru commented on #201
So apparently this is due to lack of support for altchunk as it seems to be non-standard. Even MS Word re-formats/re-parses the files with altchunk if you "save as" the docx.

[2021-05-18 12:46] ni3galave commented on #206
I am able to solve this issue by recreating the header and footer sections in the MS office.

[2021-05-18 12:46] #206 closed

[2021-05-18 13:04] jjhbw commented on #206
Thanks for posting your solution! Sorry i couldn't be of more help.

[2021-05-25 08:00] mcieslakcc opened #210 "HTML is not displayed on Max osx (pages, libreoffice)"
Platform: Mac osx
Node version: 12.8.3
Tool used: Pages, Libreoffice
docx-templates version: 4.6.0

Hello,
I tried to use HTML commad in my .docx using Pages on mac.
I pasted following code into .docx
[code]

and after creating report I see that field which should be filled is empty. When I open the same document in microsoft office   text **This paragraph should be red and strong** is visible.

[2021-05-25 08:12] jjhbw commented on #210
This may be related to #201 or #62 . In summary, HTML is only fully supported by MS Word, and the other editors have only limited or no support.

I'm sorry, but docx-templates can't help here... Feel free to reopen this issue if you disagree.

[2021-05-25 08:12] #210 closed

[2021-05-27 02:11] zackzergzeng opened #211 "How to insert a table like docxtemplater"
https://docxtemplater.com/demo/#table

[2021-05-27 08:07] jjhbw commented on #211
See the README https://github.com/guigrpa/docx-templates#for-and-end-for and the example templates https://github.com/guigrpa/docx-templates/blob/c4356261c0d9bc220db9f30f955c8aaaa4dac377/src/__tests__/fixtures/for-row1.docx

docx-templates has nothing to do with docxtemplater.com

[2021-05-27 08:07] #211 closed

[2021-05-28 11:43] valstu commented on #144
Having the same error now. Also have existing images on a template and this is most likely related to that. I was wondering if it would be possible to pass your own custom id to image to returned image object which would be then used in the
[code]

[2021-05-31 14:12] amunhoz opened #213 "BUG: Endless loop with object"
I'm having a problem with a loop in an object.  The system stucks, using a lot of cpu and not finishing the job.
The problem does not occurs if "domains" is an array.

The information is:
[code]

And the template is:
[code]

[2021-05-31 14:34] jjhbw commented on #213
Good find! I think this is a bug. I encountered this myself as well. I'll take a look. Thanks for reporting.

[2021-05-31 20:02] jjhbw commented on #213
Should be fixed in next release.

[2021-05-31 20:02] #213 closed

[2021-06-03 08:43] valstu commented on #190
@KAVA-Leigh did you find any solutions for this? I have exactly the same issue now with existing images on the template.

[2021-06-03 08:58] jjhbw commented on #190
@valstu can you post a small template + a code snippet for reproduction?

I reopened this issue because I intend to tackle it along with #144, and want to ensure my fix solves both problems.

[2021-06-03 13:34] jjhbw commented on #202
I'm sorry I don't think this is supported at this time.

[2021-06-03 13:34] #202 closed

[2021-06-03 13:35] jjhbw commented on #204
Literal XML is always hard to get right, as it needs to comply with the spec.
Closing this for now unless you are super sure that your XML is valid and think this is a bug.

[2021-06-03 13:35] #204 closed

[2021-06-03 13:40] #184 closed

[2021-06-03 13:53] jjhbw commented on #190
Should be fixed in v4.6.2. Will be published to NPM shortly.

[2021-06-03 13:53] #190 closed

[2021-06-03 13:53] jjhbw commented on #144
Should be fixed in v4.6.2. Will be published to NPM shortly.

[2021-06-03 13:53] #144 closed

[2021-06-04 19:44] LexAckson opened #214 "Inserting an array of stings throws error"
Template:
+++INS ['a','b','c'] +++

Output in version 4.6.0:
a,b,c
Output in version 4.6.2:
Command failed! "['a', 'b', 'c']" Result of command '['a', 'b', 'c']' is an object

node v10.16.3, chrome v93

[2021-06-05 09:57] jjhbw commented on #214
I introduced this behaviour in 4.6.1 on purpose to avoid objects as the result of INS commands. This would result in `'[object Object]'` strings in your report, which are practically always a mistake.

I did not consider your use case well enough, though. I personally would always use `[1,2,3].join(', ')` instead... However, come to think of it it is pretty reasonable to expect this to just work.

[2021-06-05 10:08] jjhbw commented on #214
Fixed in https://github.com/guigrpa/docx-templates/releases/tag/v4.6.3

[2021-06-05 10:08] #214 closed

[2021-06-10 02:12] DVGY opened #215 "I want to contribute to by adding some styling to template"
I am an absolute begineer. How should I get started. What documentation shall I read? Please guide me right direction Thanks

[2021-06-10 08:48] jjhbw commented on #215
Hi @DVGY , what exactly do you want to contribute?

If you want to know more about the docx file format, I suggest reading about the Office Open XML(also known as OpenXML or OOXML) specification [here](http://officeopenxml.com).

[2021-06-10 09:29] DVGY commented on #215
One of main thing which I always wanted want to put background color to table cell, change text color according to text value.
I suppose this is not yet available right ?

[2021-06-10 09:57] jjhbw commented on #215
No, docx-templates doesn't offer an out-of-the-box way to do that. It does allow you to insert literal XML, though, which may help with this. The user is responsible for making sure the XML is valid and functional.

[2021-06-10 10:39] DVGY commented on #215
@jjhbw Can you please point me out to the exact open xml page where all this styling is described ?

[2021-06-11 09:21] ekowalsk commented on #207
I've occurred the  `ERROR Error: Uncaught (in promise): Error: Can't find end of central directory : is this a zip file ?` error when I provided a corrupted docx file

[2021-06-12 06:41] weilies commented on #207
The file was corrupted, i pointed to another workable file, also get rid of the CORS issue (they are now accessible by 3rd party site)
here my project https://stackblitz.com/edit/ng-docx-templates-ad47?file=src%2Fapp%2Fapp.component.ts

It's diff error
core.umd.js? [sm]:6539 ERROR Error: Uncaught (in promise): TypeError: Cannot set property 'href' of null
TypeError: Cannot set property 'href' of n

[2021-06-12 07:12] weilies commented on #207
i put a corrupted doc template. Not sure if it was due to the file manipulated via wps office. But here is the working project
https://stackblitz.com/edit/ng-docx-templates-ad47?file=src%2Fapp%2Fapp.component.ts
it's finally able to generate a word doc, but the PATTEN-ed variable are not replace with value. I am 120% sure the 'data' is provided

[code]

[2021-06-13 08:14] weilies opened #216 "Error everytime "cmdDelimiter: ['{', '}']" defined"
I am running into a situation.

1. If cmdDelimiter not defined, the docx is generated, but {variable} still remain the same.
2. If cmdDelimiter: ['{', '}'] defined, it error out (as following)

Here is the [project](https://stackblitz.com/edit/ng-docx-templates-g1nj3?file=src%2Fapp%2Fapp.component.ts), I am running an angular project, angular ver 11++. [package.json](https://stackblitz.com/edit/ng

[2021-06-13 09:15] KAVA-Leigh commented on #216
I would highly suggest using a different delimiter, may not be the issue in this case- however see #102

[2021-06-13 11:12] weilies commented on #216
i think it's not about the "{" pattern, i changed my template and code to reference "{{" (double curly brackets), i still get the same error. [same project](https://stackblitz.com/edit/ng-docx-templates-g1nj3?file=src%2Fapp%2Fapp.component.tsl)

[2021-06-13 13:18] jjhbw commented on #216
The vm package doesnt seem imported in your environment. Try disabling the
sandbox ('nosandBox:true').

On Sun, 13 Jun 2021 at 13:12, Weilies Chok ***@***.***> wrote:

[2021-06-13 15:54] weilies commented on #216
Thanks for the helps!!! @jjhbw Love u!!

[2021-06-13 16:02] jjhbw commented on #216
No problem 👍

Feel free to open a new issue if you have a question.

[2021-06-13 16:02] #216 closed

[2021-06-13 16:03] jjhbw commented on #207
I assume this is fixed since #216? Feel free to reopen if not.

[2021-06-13 16:03] #207 closed

[2021-06-14 00:12] weilies commented on #216
Yes. Thanks Jurriaan!

[2021-06-15 02:53] #215 closed

[2021-06-24 09:33] matcobat commented on #144
Hello,
With v4.6.3, I still have the problem, when we have graphical elements in headers or footers.

[2021-06-24 10:19] jjhbw commented on #144
@matcobat interesting. Can you post a simple repro case? A template and your command invocation is enough. Doesnt have to be a full runnable repository.

[2021-06-25 18:26] Hariprasath-G commented on #201
Please note that until a document that contains altChunk elements is opened and saved in Office, it still contains the altChunk parts, and not normal WordprocessingML markup of paragraphs, runs, and text elements.  The solution with SharePoint 2010 is that you can use Word Automation Services to update the documents that contain altChunk elements.  After Word Automation Services processes it, the

[2021-06-29 08:32] matcobat commented on #144
Sure ! Here is a very simple template that is failing. I'm using the method injectSvg() that is in the documentation :
[7078ebf0-16fe-68d6-0e45-e78a25feb224.docx](https://github.com/guigrpa/docx-templates/files/6731779/7078ebf0-16fe-68d6-0e45-e78a25feb224.docx)

createReport({
    template: templateFile,
    data: {
    },
    noSandbox: true,
    cmdDelimiter: ['{{', '}}'],
    additionalJsContex

[2021-07-01 07:30] jjhbw opened #217 "IMAGE commands in the document body are ignored when a Shape/image is already present in header or footer"
Sure ! Here is a very simple template that is failing. I'm using the method injectSvg() that is in the documentation :
[7078ebf0-16fe-68d6-0e45-e78a25feb224.docx](https://github.com/guigrpa/docx-templates/files/6732060/7078ebf0-16fe-68d6-0e45-e78a25feb224.docx)

[code]
(Just replace the `Buffer.from(...)` by the one that is in the documentation)

And the generated document :
[fail.docx](https://gi

[2021-07-02 06:54] JoshuaTruscott commented on #217
I'm having the same issue

[2021-07-02 07:49] JoshuaTruscott commented on #217
Just to clarify, in my case I'm adding 2 images, a png in the header and a jpg in the body using IMAGE in the same manner as above. The png in the header renders but the jpg in the body doesn't.

[2021-07-02 08:58] jjhbw commented on #217
Thanks for clarifying. I've reproduced it. I also noticed that if you put 4 <<IMAGE>> commands in your repro template, only 3 images get rendered.

Experimenting with candidate fixes now.

[2021-07-02 10:07] jjhbw commented on #217
Should be fixed in https://github.com/guigrpa/docx-templates/releases/tag/v4.6.4.

GH Actions should be publishing it to NPM right now. Let me know if you encounter anything weird. Thanks for reporting!

[2021-07-02 10:07] #217 closed

[2021-07-05 09:22] matcobat commented on #217
Many thanks ! It's working like a charm now !

[2021-07-05 18:00] DidiF45 opened #218 "Multiple redundant copies of the image are inserted in the resulting docx file"
First of all thank you so much for this library. It is so powerful !!!
I encountered a problem after upgrading the version of docx-template.
I was using the version 2.7.2 with images in the docx template and the generated docx file has a correct size (6137 Ko).
After upgrading to the lastest version 4.6.4, for the same docx template I get a docx file of 84 109 Ko (13 times bigger !)
So I had a loo

[2021-07-06 09:53] jjhbw commented on #218
Thanks for reporting. That sure is strange. A few checks just to be sure: you are using exactly the same template and `createReport` invocation? Did you use the `IMAGE` command for both templates, or did you use the older deprecated `replaceImages` API?

[2021-07-06 11:05] DidiF45 commented on #218
Thank you for your reply.
Yes I'm using the same template and the createReport invocations are as follows :
In 2.7.2
[code]

In 4.6.4
[code]

I'm using `IMAGE `command.

[2021-07-07 10:48] Bounguicha opened #219 "Insert Image Problem"
When i insert an image this error appears : "createQrImage is note defined" because of the function createQrImage in the object additionalJsContext
Any solution please ?

[2021-07-07 10:51] jjhbw commented on #219
Please post your template and createReport invocation so i can reproduce the problem.

[2021-07-07 11:41] Bounguicha commented on #219
i have an object called 'person' who have the image url called imageUrl,

Code on the docs : +++IMAGE qrCode(person .imageUrl)+++

code on js :   const file = await createReport({
    template,
    output: 'buffer',
    data:JSON.parse(data),
    additionalJsContext: {
          qrCode: url => {
              const dataUrl = createQrImage(url, { size: 500 });
              const data = dataUrl.sli

[2021-07-07 12:31] jjhbw commented on #219
`createQrImage` is not defined in the sandbox that the template is being executed in. One option is to expose `createQrImage` through `additionalJsContext` as well.

This should fix it. Feel free to reopen this issue or mention me (@jjhbw) in a reply if it doesn't.

[2021-07-07 12:31] #219 closed

[2021-07-07 12:42] Bounguicha commented on #219
@jjhbw  Can you please explain with more details or correct my code please

[2021-07-07 12:50] Bounguicha commented on #219
createQrImage is a predefined function , it supposed to be defined automatically because it is included in the docx template module @jjhbw

[2021-07-07 12:51] mathe42 commented on #219
No It is just a example! You have to implement / get this function on your own.

[2021-07-07 12:57] Bounguicha commented on #219
@mathe42 do you have any solution ?

[2021-07-07 12:58] jjhbw commented on #219
What @mathe42 posted is correct. The `createQrImage` is just an example. Sorry if that wasn't clear. See https://github.com/guigrpa/docx-templates/blob/94db693c143815fbb1f6da7366944ffc0d1d232a/examples/example-webpack/client/index.js for a full working example of how to use QR codes.

[2021-07-07 13:50] Bounguicha commented on #219
@jjhbw i want to implement a jpg image, can you please give me the function or a solution please its not important to use a QR code

[2021-07-07 13:55] jjhbw commented on #219
@Bounguicha you need to look into that yourself, i'm afraid. You want to convert a JPG image from some source into base64 string. This is easy, but highly dependent on your use case. This is not a docx-templates specific question.

[2021-07-07 14:03] Bounguicha commented on #219
@jjhbw i just want to implement a simple jpg image in a my docs template , forget about the converting into a base64

[2021-07-07 14:31] jjhbw commented on #219
@Bounguicha an `+++IMAGE +++` command needs to return an object shaped like this `{ width: 6, height: 6, data, extension: '.gif' };`

`data` is either an ArrayBuffer or a base64 string with the image data. See the README.

You can import it with something like `const data = fs.readFileSync('image.jpg')` if you are working in Nodejs.

This is not specific to the docx-templates library and all docum

[2021-07-10 10:08] des-coder opened #221 "Image Rotation"
Can you add an optional image type for rotation.

/src/types.ts

insert into ImagePars Line 222:
[code]

/src/processTemplate.ts

insert into processImage Line 801:

`const rot = (imagePars.rotation * 60e3).toString() || "0";`

Edit line 853

`node('a:xfrm', {}, [`
-->
`node('a:xfrm', {rot: rot}, [`

[2021-07-10 14:29] JoshuaTruscott opened #222 "HTML causing unreadable content error message"
When a HTML command is present in a template, opening the output document results in message:
"Word found unreadable content in "template.docx". Do you want to recover the contents of this document? If you trust the source of this document, click Yes."

Tested using the HTML example from the README

Example:
[code]

[Template used](https://filebin.net/wunx3ucprhhx07nj/template.docx)

Environment:

[2021-07-10 14:39] jjhbw commented on #222
This probably means your specific HTML is malformed. Please provide a reproducible example, ideally limited to the HTML command in question.

[2021-07-10 16:38] jjhbw commented on #221
Good idea! Seems like a nice simple addition. I've added this to master with 64cd5784623e3d55c58e914b29897550d6eaff26.

It will be a part of the next release. Thanks for the suggestion.

[2021-07-10 16:38] #221 closed

[2021-07-10 21:29] JoshuaTruscott commented on #222
No problem, I've added the snippet and template used

[2021-07-11 08:55] jjhbw opened #224 "Optimisation: avoid adding multiple copies of the same image to word/media"
Minor bug, leading to docx files that are slightly larger than they need to be. It is caused by the same `IMAGE` command occurring twice: once in the `document.xml` and once in e.g. `header1.xml`.

The cleanest course of action would be to prevent the IMAGE command from being invoked twice. A more trivial solution to counter the symptoms rather than the cause would be to prevent injection of dupli

[2021-07-11 09:00] jjhbw commented on #218
Fixed in master by 636db40f1f7a8cbb1d8f303d0f59fd69641ee837. This problem was caused by my naive fix for #217 (5f2da6711f2ee33248a131a9311197176ee5719f).

[2021-07-11 09:00] #218 closed

[2021-07-11 09:05] jjhbw commented on #194
Should be possible to add this feature in a way similar to how image rotation was added in #221 . See http://officeopenxml.com/drwPic-nvPicPr.php

[2021-07-11 09:29] jjhbw commented on #222
Got it. Thanks for reporting. Looks like I messed something up when fixing #217 . This should be working as intended again after 636db40f1f7a8cbb1d8f303d0f59fd69641ee837, which is currently on master and will be in the next release.

[2021-07-11 09:29] #222 closed

[2021-07-11 12:41] JoshuaTruscott commented on #222
Amazing, thanks for all your help!

[2021-07-12 07:38] jjhbw commented on #222
Fix released in v4.7.0. Should be on NPM shortly.

[2021-07-12 07:38] jjhbw commented on #133
Fix released in v4.7.0. Should be on NPM shortly. Let me know if you encounter any weirdness!

[2021-07-12 07:38] #133 closed

[2021-07-12 07:39] jjhbw commented on #221
Fix released in v4.7.0. Should be on NPM shortly.

[2021-07-12 07:39] jjhbw commented on #218
Fix released in v4.7.0. Should be on NPM shortly.

[2021-07-13 10:55] Bounguicha opened #225 "Unwanted spaces added automattically in docx format"
Hello, there are spaces added automatically in the docx when I use the +++FOR +++ loop

[2021-07-13 11:31] Bounguicha commented on #225
Hello, there are spaces added automatically in the docx when I use the +++FOR +++ loop

[2021-07-13 12:16] jjhbw commented on #225
Please post a reproducible example.

[2021-07-14 07:25] ni3galave opened #226 "Is it possible to update generated document?"
I require to update a document that is already created using create report function with the help of a template.
Now, I want to add some extra sections to the existing generated document and don't want to repeat createReport process because of the large document size.

Any way to achieve this?

[2021-07-14 07:38] jjhbw commented on #226
No i'm afraid that is not possible, and out of this library's scope. If you have performance issues with large templates, you can consider disabling the sandbox mode. Make sure you understand the security implications of this first (it is basically only sensible if your templates are as trusted as the rest of your codebase). See the README for details.

[2021-07-14 07:38] #226 closed

[2021-07-14 14:29] ni3galave commented on #226
Thanks for the confirmation!

[2021-07-14 15:41] Bounguicha commented on #225
Hello Sorry for the late Reply,
the problem is that if there is a +++ if +++ in the +++ FOR +++ loop
many  unwanted spaces added automatically.

here is the data
      person: {
        pro_exp: [
          {
            professional_experience_code: '0000'
          }
        ],
        project: [
          {
            start_date: '20-8-2020',
            end_date: '20-10-2020',
            pro

[2021-07-15 10:04] fpuga commented on #77
Just for those failing here, i think the easiest approach for this is run `yarn build` from the browserify example.

[code]

[2021-07-15 10:32] Bounguicha commented on #225
@jjhbw

[2021-07-16 09:44] Bounguicha commented on #225
@jjhbw

[2021-07-16 10:25] mathe42 commented on #225
So a .docx file with the template  and a js snippet and the .docx file after executing the js snippet.

And please don't just randomly tag someone. This will not help you get faster resposes (in most cases)

[2021-07-20 08:00] changhaojun opened #227 "Invalid variable for image name in template"
Invalid variable for image name in template, such as  +++ test () +++
- When test is a variable traversed through a loop, +++ test () +++ is invalid

[2021-07-20 08:23] jjhbw commented on #227
Can you post a minimal reproducible example? A Word template and a createReport invocation.

[2021-07-20 09:10] changhaojun commented on #227
Hello, jjhbw
here is the data:
const alert = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAYTSURBVGhDzVj7bxRVFJ5/i0cBXzxUKFTQGAhGYwwJ/cXfNBpN/IEiiC2FFtCuVgJoffAwPKJGqrHEiIhE1JBCxPoA6c7MPtp9tbt7PN+9c2fuzt7dmdk2xpN8Ofeee853vr1zd2Z2LVqIVWs0/+sdKp74jvKvnCF3e4qcdfvJXrGH0steF95eOyDiWC+9f1nko24h1pHo6u82zQ5+SW7PMKWX

[2021-07-20 09:32] jjhbw commented on #227
You seem to be iterating over an array of strings `["alert", "search"]`, not functions.

You seem to want this (so without the FOR loop):
[code]

[2021-07-20 09:32] #227 closed

[2021-07-20 10:35] changhaojun commented on #227
additionalJsContext: {
		alert: () => {
			const data = alert.slice('data:image/png;base64,'.length)
			return { width: 17, height: 7, data, extension: '.png' }
		},
		search: () => {
			const data = search.slice('data:image/png;base64,'.length)
			return { width: 17, height: 7, data, extension: '.png' }
		}
	}

The above two methods are obtained through traversal. For your convenience, the data i

[2021-07-20 10:38] changhaojun commented on #227
Does the image method name in the template support variables? If so, how to write? thank you

[2021-07-20 10:47] changhaojun opened #228 "Does the image method name in the template support variables? If so, how to write? thank you"
+++IMAGE var()+++
In the above command, var  is a variable. How to write it

[2021-07-20 11:32] jjhbw commented on #227
@changhaojun something like this? https://github.com/guigrpa/docx-templates/blob/f6173b706a95924bddc31351cdcf86960f5f8525/src/__tests__/templating.test.ts#L692-L711

You can find other examples in the `__tests__` directory.

[2021-07-20 11:37] jjhbw commented on #228
Please read the documentation or check out the __tests__ directory for examples. Also refer to my answers in #227

[2021-07-20 11:37] #228 closed

[2021-07-29 12:35] JoshuaTruscott opened #230 "SVGs not displaying when saving as PDF in MS Word"
When the template has an SVG, the image renders as expected, but when saving the output document as PDF it shows 'This picture can't be displayed.

[code]

[Template used](https://github.com/guigrpa/docx-templates/files/6900458/template.docx)
[Output document](https://github.com/guigrpa/docx-templates/files/6900460/output.docx)
[Document saved as PDF](https://github.com/guigrpa/docx-templates/file

[2021-07-29 12:56] jjhbw commented on #230
Thats super weird, I can't reproduce this when converting the output document you posted to pdf using Word 16.51. I could view it just fine, using Preview, macOS 10.14.6 (18G9216)).

Are there other factors at play that you can think of?

![image](https://user-images.githubusercontent.com/12056384/127495791-eceb9c24-1f7f-45db-b8d7-aa03556817a2.png)

[2021-07-29 14:47] JoshuaTruscott commented on #230
Oh how strange!

I have noticed that if you use Print as PDF it renders. It seems to only occur with electronic distribution enabled:

![image](https://user-images.githubusercontent.com/1223042/127513210-73c8d4f1-d3b3-4145-8880-973e9c97bc9f.png)

Can you reproduce it with that selected?

[2021-07-29 15:01] jjhbw commented on #230
I have to change my privacy settings for that and checkbox some EULA, so i'd rather not try it...

Can you try what happens when you take docx-templates out of the equation entirely, and just copy the SVG into a new document just by using Word? If that works, it is likely a problem in the interaction between the mysterious 'microsoft online service' and SVG embeds, not docx-templates.

[2021-07-29 15:02] JoshuaTruscott commented on #230
Sure, I have tested a blank doc with an SVG inserted manually (not generated) and it saves correctly.

[2021-07-29 15:50] JoshuaTruscott commented on #230
Right clicking the generated SVG image and selecting 'Convert to Shape' fixes the issue if that helps narrow it down, let me know if theres anything else I can provide that might help.

[2021-08-03 17:30] mathe42 opened #231 "change build output for for example direct browser support"
I think it would be nice to provide a dist file wich runs directly in browser from for example `https://unpkg.com/docx-templates@4.7.0?module`. unpkg is cool as it rewrites imports to modules with real urls.

If interessted I would create a PR adds some build scripts to add a esm output in the next days.

This would be completely seperated or can be added in the package.json module field.

[2021-08-04 06:57] jjhbw commented on #231
That'd be great. I'm not really familiar with that space, and every time I have to work on toolchain stuff I feel like throwing my computer out of the window.

We had some problems before in creating a 'pure' browser build that is ready to use, as some deps require pretty advanced polyfills. Maybe related: https://github.com/guigrpa/docx-templates/issues/135.

[2021-08-06 14:02] jjhbw commented on #231
Implemented in 3d6c1a8c5f33868c8f40e9996a2fa0db0889f86a

[2021-08-06 14:02] #231 closed

[2021-08-06 14:15] jjhbw commented on #135
https://github.com/guigrpa/docx-templates/releases/tag/v4.8.0 may help with this.

[2021-08-06 14:15] jjhbw commented on #188
https://github.com/guigrpa/docx-templates/releases/tag/v4.8.0 may help with this, as it contains a precompiled polyfilled build. LMK if you run into any issues.

[2021-08-06 14:15] #188 closed

[2021-08-31 09:15] Bounguicha opened #234 "Adding colors and fonts dynamically"
Hello, Can i add colors or fonts dynamically in the docx by adding their codes in the JS file ?

[2021-08-31 09:23] jjhbw commented on #234
You can look into directly inserting XML, see the `literalXmlDelimiter`.

You'll need to find the correct XML for the things you want to do in the docx reference http://officeopenxml.com/WPtext.php

[2021-08-31 09:23] #234 closed

[2021-09-06 15:20] Bounguicha commented on #234
@jjhbw Hello can i use XML on libraOffice or google docs ?

[2021-09-07 15:28] SaadAhmad-Atechy opened #235 "Error with JSZip import while building"
I'm trying to write a Firebase cloud function with docx-templates, but when I try to run tsc on it and try to deploy it, I get this error.
Could you suggest where to look to fix this?

![image](https://user-images.githubusercontent.com/82576801/132371265-9e034d99-c0d2-46f2-ad20-e41630221e07.png)

these are my tsconfig:

[code]

[2021-09-07 15:32] SaadAhmad-Atechy commented on #235
adding ` "allowSyntheticDefaultImports": true` helped.

[2021-09-07 15:32] #235 closed

[2021-09-13 19:08] purusingh opened #236 "Table is not populating"
I am trying to create table on worddocument and it is not woking

<code>
const { createReport} = require('docx-templates');
const fs = require('fs');

var template = fs.readFileSync('./23.docx');
const data = require('./data.json');
createReport({
  template,
  cmdDelimiter: '+++',
  data: data
}).then(res => {
  fs.writeFileSync('report.docx', res);
})
</code>

<data>

{
    "name": "Purushottam

[2021-09-17 15:56] Bounguicha opened #237 "Can i set XML code with literalXmlDelimiter using libraOffice or google docs ?"
When reporting a **bug**, please provide:
- A small reproducible example consisting of the code and .docx template you used.
- A screenshot of the result you get and an explanation as to why this result is unexpected.
- Information about your compiler toolchain version (e.g. Angular, Webpack, etc.).
- Information about your runtime environment (which browser, Electron, or NodeJS version).

[2021-09-20 07:32] jjhbw commented on #237
You're going to have to test this on a case-by-base basis. Google Docs and LibreOffice interpret the docx specification in subtly different ways. Nothing that this library can do about that.

[2021-09-20 07:32] #237 closed

[2021-09-20 07:50] jjhbw commented on #236
Your example is messy. Please provide an actual template with executable code.

This functionality works just fine in all cases I could think of, so please take some extra care in creating a reproducible example of your problem.

[2021-09-24 04:49] Ademking commented on #199
![image](https://user-images.githubusercontent.com/12462188/134619898-f21d64cf-4b4c-4147-8e4d-c70f5ba656f8.png)

[2021-09-26 12:05] samibarasi opened #239 "listCommands not picking up variables e.g. +++INS variablename+++ when it is located in the header and footer"
When using the listCommand function I don't get the expected variables listed that are defined in the footer and header portion of the file.
![Bildschirmfoto 2021-09-26 um 12 06 34](https://user-images.githubusercontent.com/81765912/134803500-97e479a9-c939-4d46-a8c4-8b4a87b36beb.png)
![Bildschirmfoto 2021-09-26 um 12 08 08](https://user-images.githubusercontent.com/81765912/134803497-f8d4403f-51f0

[2021-09-26 23:55] Ademking opened #240 "Metadata is returning wrong number of pages"
Thank you so much for this library. It's so helpful.

I have this bug... Metadata is returning wrong page number... the final document is 47 pages but it's showing 5

I think it's because of HTML content? Maybe?

![image](https://user-images.githubusercontent.com/12462188/134828460-57937b8a-520e-4e4a-a9ca-952351d5e131.png)

![image](https://user-images.githubusercontent.com/12462188/134828499-591d

[2021-09-27 05:47] mathe42 commented on #240
Is your template document 5 pages long?

[2021-09-27 08:00] jjhbw commented on #240
The number of pages is simply grabbed from a docx XML metadata element. It can only feasibly be determined by a docx renderer, like MS Word or LibreOffice.
The document needs to be rendered by e.g. Word at least once before the length of the document can be known. Word will update the 'number of pages' metadata element when saving the document. You are probably looking at the number of pages of yo

[2021-09-27 08:11] Ademking commented on #240
@mathe42: Yes. It's 5 pages

@jjhbw: I get it now... So i can't get the exact number using metadata
Thank you guys for the help 👍👍
Keep up the good work

[2021-09-27 08:22] jjhbw commented on #240
👍 Great. Yes, this seems to be a hard limitation. Sorry I couldn't give a more satisfying answer.

[2021-09-27 08:22] #240 closed

[2021-09-27 23:50] Ademking opened #241 "HTML Images not working on Word - Office 2013"
Images in Office 2013 are not showing properly.
(The same file works on Office 2016 +)

My template is using HTML code
Example:
[code]

![image](https://user-images.githubusercontent.com/12462188/134999654-99a06f55-3407-42d1-a8f1-044f8a1b2c28.png)

Any idea how to fix this issue?

* Runtime environment; NodeJs
* Version: 4.8.0

[2021-09-28 10:40] jjhbw commented on #241
Looks like a correctly formatted base64 dataURI and HTML to me. The fact that it _does_ work in Office 2016 suggests that this is an MS Office issue, and not something we can solve. You can try searching the internet to see if HTML like this is even supported in Office 2013.

[2021-09-28 10:40] #241 closed

[2021-09-28 10:45] jjhbw commented on #239
Thanks for reporting. This is indeed a bug. The `listCommands` function only looks in the main XML file, not the ones that cover the header and footer.

[2021-09-28 13:43] #236 closed

[2021-09-28 13:52] #239 closed

[2021-09-28 18:53] mdsjs opened #243 "Question: Dynamic image size"
Thanks for great library!
I just confuse when implement display image, the example/option should be put value for option width & height.
Any clue how to display actual/real width & height image?

Thanks!

[2021-09-29 08:06] jjhbw commented on #243
Not sure I understand your question. How to specify image dimensions is described here: https://github.com/guigrpa/docx-templates#image

What exactly is unclear?

[2021-09-29 08:13] mdsjs commented on #243
hi @jjhbw , thanks for the reply.
Yes, i saw the example and mention about this:

So there is possible if i don't set any value for width and height? so whatever image size it will responsive added

[2021-09-29 08:56] jjhbw commented on #243
No, docx-templates cannot render the docx documents the way that e.g. MS Word or LibreOffice can. Hence, it can never know how big an image needs to be to fill the available space.

I may be wrong, though. If you can find the corresponding XML tags in the docx spec to insert an image with responsive dimensions i'll be happy to look into it.

[2021-09-29 08:56] #243 closed

[2021-09-29 09:19] mdsjs commented on #243
ah ok, thanks for the explanation. Cheers

[2021-10-12 05:07] anjnim1 opened #244 "How can I insert a page break automatically ?"
I am printing data lines into the document and I need to add page break after every 5 lines. Total no of lines are dynamic. How can I add the page break.

[2021-10-12 08:10] jjhbw commented on #244
What have you already tried? You can do that in your JS code, for example by inserting batches of 5 lines and adding a newline in the FOR loop in your template after each batch of lines.

[2021-10-12 11:56] #244 closed, assigned to nobody

[2021-10-12 15:26] apsisx opened #245 "Rendering image with html unexpected token for auto generated tag."
Hello, I have an issue for parsing img tag from server.
I created array for image like `<img src="' + canvas.toDataURL('image/png')+ '" />` in node.js backend.
This gives me base64 src url.
The tag is like
`<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA....."/>`

I used in template like
<code> +++FOR item IN $question.isCreatedData +++
+++HTML
< html>
< head>
<metacharset="UTF-8">
< /he

[2021-10-12 16:04] jjhbw commented on #245
You are feeding HTML to the `IMAGE` command. The `IMAGE` command only accepts javascript objects structured like

```{ width: 6, height: 6, data: 'image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA.....', extension: '.gif' }```

See https://github.com/guigrpa/docx-templates#image.

[2021-10-12 16:04] #245 closed

[2021-10-22 06:00] rparejoc opened #246 "A way for detecting that a new page has been started?"
Hi,

I need to detect when a new page has been started. Is there any way for doing that?

[2021-10-22 07:28] #246 closed, assigned to nobody

[2021-11-08 22:56] jcalfee opened #247 "Alias Subtemplate feature"
Allow the Alias to accept a formatted section of the document, single or multi-line:

[code]

Just like the ALIAS does now, this would print nothing until the alias is invoked with `{*Notary}`.

This could be useful enough on its own for larger documents where there are redundant items.  But it really shines if we could then share a context across invocations of `createReport`..  For example, sele

[2021-11-11 03:04] RezaRahmati commented on #162
if you have `type:module` in your package.json use this way

[code]

[2021-11-11 03:16] RezaRahmati commented on #211
if template is like this
![image](https://user-images.githubusercontent.com/10086092/141230986-77f10175-3830-4b5d-8484-3004e7ce63f0.png)

it will result like this
![image](https://user-images.githubusercontent.com/10086092/141231050-9a9afde8-6526-48b4-9029-e46bb7654858.png)

[2021-11-11 07:36] jjhbw commented on #211
Can you explain what is going wrong? Also, please post a reproducible example.

[2021-11-11 12:36] RezaRahmati commented on #211
@jjhbw nothing is wrong, I added answer for the original question, so in case someone else came to this thread see it, (like me that I came and current answer was not clear to me)

[2021-11-11 12:52] jjhbw commented on #211
Sorry I misread! I didn't notice I was commenting on a closed issue from the github app. Thanks for posting the solution!

[2021-11-19 21:10] sealover06 opened #248 "Error: Can't read the data of 'the loaded zip file'. Is it in a supported JavaScript type (String, Blob, ArrayBuffer, etc) ?"
Hello team, I'm testing this package for first time
node --version
v16.5.0

my little code, basically a copy/paste of the readme.

[code]
I'm getting this error in jszip library. No clue what we get into this.
![image](https://user-images.githubusercontent.com/47537190/142691932-76e1c85c-7beb-43d2-8edb-fd7640b44a06.png)

Thanks for telling me what I'm doing wrong.

[2021-11-20 13:37] jjhbw commented on #248
See this line:

[code]

You are providing the template as an object property named 'docx', but it needs to be called `template`, like so:

[code]

I strongly recommend using typescript (with strictest settings) instead of javascript if you can. It prevents errors like this, because it would tell you the `template` argument is missing.

I agree that the error is confusing. I'll make it a bit more c

[2021-11-20 13:37] #248 closed

[2021-11-22 07:41] sealover06 commented on #248
OMG, I had to be tired this day.  ! thank you  !

[2021-11-29 02:08] iamtmoe opened #249 "how to center a image in docx"
When reporting a **bug**, please provide:
- A small reproducible example consisting of the code and .docx template you used.
- A screenshot of the result you get and an explanation as to why this result is unexpected.
- Information about your compiler toolchain version (e.g. Angular, Webpack, etc.).
- Information about your runtime environment (which browser, Electron, or NodeJS version).

[2021-12-04 01:00] iamtmoe commented on #249
Thx for reply.
[code]
[code]
html snippets copied from here:
![image](https://user-images.githubusercontent.com/41809433/144690333-5cdd315f-cbb4-48f5-920f-35f9f176ac98.png)
the rendered result is:
![image](https://user-images.githubusercontent.com/41809433/144690356-f994b56f-985d-4a45-88e6-2f0b0774ee96.png)
Command image works, HTML image width attribute not work, neither the style attribute. Did

[2021-12-17 03:13] fernandomoraes opened #250 "for iterator in a table creating empty column"
What I am doing wrong?

![image](https://user-images.githubusercontent.com/2366763/146482989-d00275f5-a247-4279-a558-0866c6853738.png)

is resulting in:

![image](https://user-images.githubusercontent.com/2366763/146483063-6def3912-0018-4f35-b31f-512a9149c47e.png)

[2021-12-17 03:37] fernandomoraes commented on #250
Solved:
![image](https://user-images.githubusercontent.com/2366763/146484898-44758d00-320e-45f4-be99-c987cc628a30.png)

[2021-12-17 03:37] #250 closed

[2021-12-17 11:25] jjhbw commented on #250
Thanks for posting the solution!

[2022-01-10 06:47] WrightLiam commented on #216
Sorry to bother, but would you happen to have any other recommendations for someone running into this issue?

I seem to be getting this same error using the default delimiters +++, setting custom delimiters doesn't seem to make a change, and adding "nosandBox:true" to the createReport function doesn't make any apparent difference.

Do you have any thoughts off hand or would you need to see the pro

[2022-01-10 07:03] jjhbw commented on #216
Are you using an Angular toolchain? They tend to do only barebones polyfilling/importing of dependencies. Any dependency import issues you may have (like vm) likely stem from there.

I'm going to need a reproducible example regardless, i'm afraid.

[2022-01-13 01:56] WrightLiam opened #251 "Error anytime the delimiter is found within a file."
I am running into an issue similar to that defined in item #216.

To give a brief summary, it looks like every time the createReport function finds a delimiter it tries to run it as a function. ie:
ERROR Error: Uncaught (in promise): Error: Error executing command 'OFFENSEDATES': OFFENSEDATES is not defined
Error: Error executing command 'OFFENSEDATES': OFFENSEDATES is not define

As a note I made

[2022-01-13 08:44] jjhbw commented on #251
Thanks for the detailed example.

No it executes the 'command' between the delimiters from within a Promise. It interprets everything between the delimiters as JS code and executes it. Eyeballing your example, I see `OFFENSEDATES` is not injected into the VM. I only see `offenseDates`, which is not the same. Capitalisation matters in variable names, just like when you are writing plain javascript.

[2022-01-13 15:13] WrightLiam commented on #251
Well I'll be damned, you're right that was it.

That was the first thing I tried to test when I first started getting the bug and I thought I had the same casing on both in my original tests but I clearly must have made a mistake.

I both apologize for wasting your time with such a silly mistake and also thank you for pointing it out!

[2022-01-13 15:13] #251 closed

[2022-01-13 16:50] jjhbw commented on #251
No problem at all, happy to help 👍

[2022-01-19 13:31] #225 closed

[2022-01-20 00:43] DVGY opened #252 "Is it possible to convert docx file to pdf?"
Is it possible to convert docx file to pdf ? If not how can it be done ?
Thanks

[2022-01-20 03:51] KAVA-Leigh commented on #252
I'm not affiliated with the project, but have been using docx-templates for quite a while.

There is no functionality for conversion in place, so you will need to either use
- An open source library (I have reviewed & tested a huge number & they generally don't render complex documents correctly - for basic invoice templates etc, they are likely fine)
- I would suggested taking a look at Cloudmers

[2022-01-20 06:16] mathe42 commented on #252
Have a Look at https://www.npmjs.com/package/@ec-nordbund/docx-templates-to-pdf wich uses gotenberg (Install that via dicker) See https://github.com/gotenberg/gotenberg

[2022-01-20 08:09] jjhbw commented on #252
Thanks for your answers @KAVA-Leigh and @mathe42 !

Docx-templates is concerned with creating docx files. To turn docx files into PDF files you need a docx reader like Microsoft Word or LibreOffice.

[2022-01-20 08:09] #252 closed

[2022-01-24 20:08] jcalfee opened #254 "Heroku error at http://swapi.apis.guru"
[code]
See http://swapi.apis.guru

[2022-01-24 20:26] jcalfee opened #255 "Feature: single-line delimiter"
Many programming languages have single and multi-line comments which help keep the code clean.  I propose something similar for templates which offer backwards compatibility.

[code]
1. cmdDelimiter is single or multi-line
2. Ignore cmdDelimiterSingleLine if within cmdDelimiter
3. Break out of cmdDelimiterSingleLine if you hit a newline
4. In the rare case you want to print { and } on the same lin

[2022-01-24 20:31] jjhbw commented on #254
Thanks for pointing this out! We don't maintain this API. I think we should take the opportunity to remove this remote dependency from our example application.

[2022-01-24 20:35] jjhbw commented on #255
I took a peek in the backend to see what kind of changes this feature would entail, and it is not trivial. I'm not sure about the value-add yet... How would this improve the code in template? A command can already span multiple lines.

[2022-01-24 20:42] jcalfee commented on #255
I was hoping that would be trivial.  It would be good for {templates} with {lots} of simple {variables}.  Even IF and FOR are single line statements.  It is one thing that stands out when choosing libraries, the ability to keep it short but have plenty of control with larger blocks so you know your not going to get into a situation you can design for.  Best of both worlds.

[2022-01-25 10:00] #254 closed

[2022-01-26 10:51] jjhbw commented on #255
New features always have a maintenance burden attached for any project, but for this library in particular. This is mostly because the docx file specification is so complex that even our extensive set of snapshot tests can't do it justice.

Because of this, any feature requests that require changes to the core of the library have to offer extremely obvious added value for me to consider them. Conv

[2022-01-26 10:51] #255 closed

[2022-01-26 22:36] jcalfee commented on #255
Of course I understand.  I was thinking I might try this later with some code to pre-process the template.  Since it is all in memory this **should** be very fast.  Unless of course that approach suffers the same concerns.

[2022-01-27 07:54] jjhbw commented on #255
Yes, all template processing happens in memory so speed is not really my concern. Complexity is.

All software projects suffer from feature creep to some extent, but open source projects more so because maintainers tend to feel pressured to accept outside contributions ("they went through all that effort, you know?"). It is not uncommon for such projects to collapse under their weight, or worse; s

[2022-02-01 14:21] DeveloperOl opened #257 "insert references"
Hi @all, thanks for this awesome software.
I was wondering if it is possible to create a dynamic reference inside the document with a custom text. For example a reference to a headline, which directs to the underlying headline when clicked.
Is it possible to this in the current state?

[2022-02-01 14:28] jjhbw commented on #257
I'm not really a Word power user so i'm not sure exactly which functionality you mean.

You can try by wrapping the reference you want in an IF statement to conditionally render it.

[2022-02-01 14:55] DeveloperOl commented on #257
Sorry maybe that was not clearly stated. I mean the cross-reference function in word. A cross reference is like a link in the same document, e.g. to a headline.
So in a text blob I can have a link "click ->here<-" and when clicked it directs to a chapter in the same document, not an external address.

[2022-02-01 16:16] jjhbw commented on #257
There is no convenience command to inject such a link.

You can take a look at injecting raw, dynamically generated (i.e. in JS) XML literals into your template. See README on how to do that. You'd have to find out yourself how the XML for the links you want looks, though.

Alternatively, you can try something like the below in your template.
[code]

Does that answer your question?

[2022-02-01 16:29] DeveloperOl commented on #257
@jjhbw I will have a look into the XML documentation. Is there a good reference/documentation for the literal XML? The readme is really quite on that topic

[2022-02-01 17:41] jjhbw commented on #257
Yes the README doesn't cover it because it is out of scope of this library. The docx spec is simply too large to make abstractions for everything, see http://officeopenxml.com/anatomyofOOXML.php

[2022-02-01 22:00] Enzojz commented on #15
Possible to generate such a code with embedded HTML but not FOR loop

[2022-02-02 08:12] AlexandrKravchenko opened #258 "Use nested data problem"
Is it possible to process my keys in moment? Need this for process nested data.
I have template vars like this:
[code]
And data:
[code]
And want result:
[code]
I see three interesting features to resolve issue:
**first:** add .toString method to object (user), that call when  use {user} key in template (if object has toString, than ObjectCommandResultError not appear)
**second:** add functions ali

[2022-02-02 08:29] jjhbw commented on #258
To see if I understand your question correctly, you have this data
[code]
And you want this command in your template
[code]

To result in
[code]
Is that correct?

Assuming I understood correctly:

That isn't supported, because there isn't a single agreed-upon way to serialise an Object to a string.

You want it to look like result of `Object.values(user).join(', ')`, so I suggest you just use this

[2022-02-02 09:45] AlexandrKravchenko commented on #258
No, join() is not allowed. I use {user} as example for reproduce similiar task. My real problem - is ability to process each template keys directly before inserting.

[2022-02-02 10:33] jjhbw commented on #258
You can use the `listCommands()` function to list all commands in a template. See https://github.com/guigrpa/docx-templates#inspecting-templates

Is that what you mean?

Note that template commands can contain a JS code snippet of which the result will be inserted into the rendered report.

Putting the below inside your template
[code]
will produce
[code]

[2022-02-02 10:55] AlexandrKravchenko commented on #258
Yes, when i use listCommands(), i get it, but i cant process it step by step inserting data.. :)

[2022-02-02 11:12] jjhbw commented on #258
Template commands can contain arbitrary JS code, meaning they are _very_ flexible. I still don't understand what exactly it is that you want to do that isn't possible yet.

[2022-02-02 12:12] mathe42 commented on #258
I'm also not shure what you want to do but with a Proxy you might be able to accive what you want - as you want to transform your data on the fly. But I would think transforming it before calling createReport is much simpler.

[2022-02-11 09:50] jjhbw commented on #258
Hope this helped. If not, feel free to reopen.

[2022-02-11 09:50] #258 closed

[2022-02-11 09:51] jjhbw commented on #257
Hope this helped. If not, feel free to reopen.

[2022-02-11 09:51] #257 closed

[2022-02-11 15:43] jjhbw commented on #257
Thanks for posting your solution, much appreciated!

[2022-02-11 16:30] JamesTrewern opened #259 "1st image replaced when running createReport() second time"
Environment: Node v16.13.1, Windows 10

I have found a bug where if you run the createReport() function on a file which you have already run createReport() on and inserted images, then the 1st image of the file will be replaced by the new image that is added.
looking at the docx as a zip it seems the issue is that the 1st name is reused on the second run so there are 2 relations to the same image

[2022-02-12 19:33] anjanvb commented on #162
With `'type': 'module'` in `package.json`, this works-

[code]

[2022-02-13 08:58] jjhbw commented on #259
Good find. When implementing this I did not foresee this use case. Thanks for proposing a fix, looks simple enough. I'd like to cover your use case in the test suite too. Can you give me some more details on why you want to run `createReport` a second time on a document?

[2022-02-14 10:24] JamesTrewern commented on #259
The library is used to create a document which would usually contain images. Then the document goes through a review process then a signature is inserted once accepted. the review process might introduce changes to the document before the signature is inserted in which case the error doesn't occur. but if the document isn't changed then the second run of the function should create the bug

[2022-02-18 08:01] jjhbw commented on #259
Working on this... Adding the current datetime in the image string will introduce some non-determinism in `createReport`, making testing and reasoning about the document's contents more difficult. I'm now prototyping a different solution that is based on enumerating all existing image rels before injecting new ones.

[2022-02-18 10:05] jjhbw commented on #224
This is IMO a minor optimisation with nontrivial engineering and complexity cost.

[2022-02-18 10:05] #224 closed

[2022-02-18 10:12] jjhbw commented on #259
Released in https://github.com/guigrpa/docx-templates/releases/tag/v4.9.1. Should be on NPM shortly.

[2022-02-20 18:31] jcalfee opened #260 "JavaScript proxy in additional context"
Is it possible for additionalJsContext to capture a generic getter or setter from a proxy?

I'm providing:
[code]

Then merge is used in this example [[ref](https://github.com/guigrpa/docx-templates/blob/28496607960efab8619ca006256d1d50fe5c0c7e/src/jsSandbox.ts#L21-L29)]:
[code]

The generic "get" and "set" are not being merged into the sandbox object.  If I put static properties in the 1st argume

[2022-02-20 18:43] mathe42 commented on #260
Just looked at the timm code and a work around should be:

[code]

Where the key is not present in data. (and is not __code__ nor __result__)

[2022-02-20 18:46] mathe42 commented on #260
I might have a solution for that... But that will not work in IE.

[2022-02-20 23:18] mathe42 commented on #260
OK I wrote some prototype code:

Let oldMerge be the current merge function and replace it with this new one. Did not test this code in any way so expect bugs!

[code]

[2022-02-21 00:22] jcalfee commented on #260
Wrapping it in a key works.  That opens up the option to report missing keys in the template or run more dynamic async code.  So that is a really good work around.  Of course means the prefix will need to be used in the templates.

In the original `merge` returns an immutable object

That new proxy looks interesting.  I did this:

[code]
And adjusted the recursive call in "get" and plugged in `pro

[2022-02-21 11:39] mathe42 commented on #260
That is not needed (and will break).

The error should be gone with that change and if not replace `v instanceof Proxy` with `(typeof v === 'object' && v instanceof Proxy)`.

[2022-02-21 12:09] jcalfee commented on #260
Yea, I realized recursion didn't make since.  I'm still not sure what get should contain though.

[2022-02-21 12:18] mathe42 commented on #260
maybe
[code]

[2022-02-21 13:30] jcalfee commented on #260
I tested `v.__isProxy !== undefined` [ref](https://stackoverflow.com/a/37198132) and it works when I replace the two `v instanceof Proxy` checks .  It errors `err: Error: TypeError: eval is not a function`.  Probably this line:
https://github.com/guigrpa/docx-templates/blob/28496607960efab8619ca006256d1d50fe5c0c7e/src/jsSandbox.ts#L49

[2022-02-24 09:49] bigNeoneo opened #261 "HTML content can't custom line-height"
Thanks for your excellent project, but I ran into a problem. +++HTML `<body><ol style="line-height:50%;"><li>blah  blah..</li></ol></body>`+++   that just not work, the docx content's line-height is 1.0

[2022-02-24 09:59] jjhbw commented on #261
You can check that the correct `line-height` style is injected in your document by unzipping the resulting `docx` file and doing a string search.

If the HTML looks the way you would expect inside the document, then it is a problem with how your docx renderer (Microsoft Word?) interprets the HTML, not with this library.

[2022-02-24 09:59] #261 closed

[2022-02-24 10:00] jjhbw commented on #261
In short; i'm afraid I can't help you with questions about how MS Word or libreoffice or google docs interprets embedded HTML.

Be sure to let me know if this doesn't answer your question!

[2022-02-25 02:41] bigNeoneo commented on #261
<img width="562" alt="image" src="https://user-images.githubusercontent.com/25142504/155642984-eea02f7b-21b1-473c-8bc7-f57832f8133d.png">
![image](https://user-images.githubusercontent.com/25142504/155643350-40d1e8e4-e3ea-46a9-be0e-7763e696eae9.png)
As you can see, the HTML looks good but the out docx's unziped xml not the correct height I want.

[2022-02-25 08:53] jjhbw commented on #261
Can you post a reproducible example? The XML in the screenshot does not contain any valid HTML. The `<w:altChunk/>` element is empty.

[2022-03-07 08:01] chaosforfun commented on #82
+1 , i want this feature, thanks

[2022-03-10 00:09] pkozul commented on #82
In case it helps anyone, I got nested table working. There is a catch though, You need to have some space at the bottom of the nested table.

Here is the template I used:

![image](https://user-images.githubusercontent.com/2073827/157560709-c6dd5d93-6a38-4310-99ca-5f6bcccb9536.png)

 Below is the result:

![image](https://user-images.githubusercontent.com/2073827/157560785-1553c6e6-5d6f-4dc8-a4fb-

[2022-03-10 01:54] pkozul commented on #82
I modified the code and got it working. Not sure if this change would affect other scenarios, but now all 3 of the tables are being rendered fine. I added the code outlined in red (in the file `processTemplate.js`).

![image](https://user-images.githubusercontent.com/2073827/157572271-5f37995b-ebd8-48df-8faf-d0e22de9c5ef.png)

Below is the code I added, if anyone needs it for copy/paste:

[code]

[2022-03-10 11:53] jjhbw commented on #82
@pkozul thanks for looking into this! Can you make a PR with this change? I'd like to look into it further. If you can also add that template so I can make it into a test case, that would also be great.

[2022-03-13 12:37] pp-copenheaven opened #262 "createReport is not a function"
Trying to run the example from documentation.
mTemplate.docx is simply this:

+++=name+++
+++=surname+++

and code:

import createReport from 'docx-templates';
import fs from 'fs';

const template = fs.readFileSync('myTemplate.docx');

const buffer = await createReport({
  template,
  data: {
    name: 'John',
    surname: 'Appleseed',
  },
});

fs.writeFileSync('report.docx', buffer)

this is the

[2022-03-13 13:31] #262 closed

[2022-03-13 21:50] pp-copenheaven opened #263 "Document unreadable when adding HTML to Header or Footer"
In this example i add HTML to a Header, body and Footer. Only the one in the body is shown.

template file:
https://filebin.net/ixb8zs4j5i1e0xvk

Tested using the HTML example from the examples

const template = fs.readFileSync('test.docx');
const buffer = await createReport({
  template,
  cmdDelimiter: ['{', '}'],
});

fs.writeFileSync('final.docx', buffer);

[2022-03-15 06:27] pkozul commented on #82
@[jjhbw](https://github.com/jjhbw) Bummer. Although my code change worked in this example I included above, it doesn't work in the more complex scenario I have at work. I'm not familiar enough with how the entire code works, so maybe you'll have some ideas on what else we can try?

I think it really comes down to the code I have outlined in the red box, and determining the exact condition required

[2022-03-15 09:07] jjhbw commented on #263
Are you sure that's supposed to be possible? HTML in the header of the image sounds pretty high-end. Maybe you can find something about that here http://officeopenxml.com/anatomyofOOXML.php

Note that this library is limited to the possibilities of the .docx file format and its interpreters (MS Word and the like).

[2022-03-15 09:21] pp-copenheaven commented on #263
Thanks for replying, I was looking for a way to give some customization options programmatically by inserting some HTML and CSS from an application, but it does look more of a hack that anything else, but I gave it a shot.  The library is amazing as it is ofc and i appreciate all your work :)

Thanks for the link, I'll take a look

[2022-03-15 14:11] nathan130200 opened #264 "Question: How to append formatted content in template."
How to proper append formatted content into template and render in docx?

For example i have an dynamic field that i must make it bold.

`<b>ID:</b> 000000000` as usually in HTML, but html don't display in libreoffice, so have some work-around to append direct bold text into DOCX as teimplated?

I cannot pre-format as bold, becasuse this field is non required, so some will have others don't.

Also

[2022-03-15 14:32] jjhbw commented on #264
You can try injecting literal XML. For this you can take a look at the `literalXMLDelimiter`. See for example https://github.com/guigrpa/docx-templates/blob/306af4373a8676a4ad86c7a250305efdcbfffc97/src/__tests__/templating.test.ts#L413 . You'll have to look up the required XML elements yourself in the docx spec.

[2022-03-16 11:15] jjhbw commented on #264
I can't really help with this information.

You can unzip the docx file and inspect the XML files to see if the elements are inserted in the way you'd expect.

Otherwise you can look into whether libreoffice competitors (MS Word, Google Docs) render the element correctly. In that case the problem may be libreoffice-specific.

[2022-03-19 10:07] jjhbw commented on #82
I'm out of ideas honestly. The docx spec is just too complex and too dependent on MS Word's secret sauce (MS trustbusters should have paid attention to this long ago).

At work we have had great success in achieving roughly what you want by inserting complex tables like the one below as HTML (using docx-templates). MS Word supports a good ~80% of the HTML spec surrounding <table/> elements and ass

[2022-03-30 12:51] TechSupportJosh opened #265 "Concatenate two documents together"
Hi,

Is it possible to take two .docx files and merge them together? I couldn't see any examples on the repository related to merging documents.

Thanks!

[2022-03-30 15:00] #265 closed

[2022-04-01 09:04] #263 closed

[2022-04-11 02:49] yoyomule opened #269 "What are the advantages of this project and the back-end analysis solution?"
I learned about this project for the first time. What are the differences and advantages of this back-end parsing solution similar to PHPWord?

[2022-04-11 04:55] jjhbw commented on #269
Judging from the phpword README, the projects seem to have similar goals. You can use docx-templates in the browser, though, bc it is written in typescript. In addition, templates can contain pretty much arbitrary javascript.

[2022-04-11 04:56] #269 closed

[2022-05-06 09:13] fracartdev opened #270 "Nested string key throws syntax error (unexpected string)"
Version: Node v16

I'm trying to print a document with a JSON like this:
[code]

The report I want to generate is highly dynamic and the stringed keys represent the paragraphs already present in the template. Anyway, I could go past the first stringed key (2-1-1) by adding the `fixSmartQuotes: true` option but the second (2-1-1-1) throws the `SyntaxError: Unexpected string` error. How can I fix th

[2022-05-06 09:41] fracartdev commented on #270
Ok, fixed it by having a parent key so that I could access the items this way:
![image](https://user-images.githubusercontent.com/78350360/167107482-48d7d286-38cf-446b-a83b-cc81cb8b470f.png)
and the code:
[code]

[2022-05-06 09:41] #270 closed

[2022-05-09 09:45] antipopp opened #271 "How to loop through JSON array with no parent object?"
How can you loop a JSON array without a parent object? Something like:
[code]

What should I use in the template?
[code]

[2022-05-09 20:16] antipopp commented on #271
It's a solution (and it's the one I'm currently using), but I was thinking to pass just the array to the data field (`data: [...]`), so I was wondering if there was some "data" alias/keyword to access the array.

This is because I'm building the JSON on a Go backend, where you generate the JSON by just building an array of objects with no parent prop. To add the "companies" prop I must make throwa

[2022-05-10 09:22] jjhbw commented on #271
That is not possible; the values of the `data` object are injected as globals in the VM scope when rendering the template, so they can be referenced from the JS in the template. You can't expose an unwrapped array like this; how would you reference its elements from the template scope? Every top-level global needs a name.

The solution you're currently using is the only supported way. Hope this he

[2022-05-10 09:22] #271 closed

[2022-05-10 21:35] RoXuS opened #272 "Feature request/Question - Reorder part of DOCX"
Thx for this awesome module!

We would like have some configured "part" inside the docx, something like:
[code]
Then when we generate the docx we would like to reorder the parts, sometime PART 2 before PART 1 sometime no.

Currently, is there a way to do that?

[2022-05-11 07:42] jjhbw commented on #272
No I'm afraid that that's not possible. The library is designed as such that you expose data and possibly functions to the template and write JS in the template to render the document.

Templates can contain pretty much arbitrary JS, so what you want is probably not that far away using some EXEC and IF statements.

[2022-05-11 07:47] mathe42 commented on #272
Workaround:
1. add the wanted Order in a "parts" fields in Data so
[code]

2. In template do something linke
[code]

[2022-05-11 07:52] RoCat commented on #272
Thanks for the workaround, that seems to perfectly fit our needs

[2022-05-11 07:53] RoXuS commented on #272
Great thx, that seems ok!

[2022-05-11 07:53] #272 closed

[2022-05-12 11:43] DeveloperOl opened #273 "Include custom document properties in parsing"
Hi, I was wondering if it is possible to include the custom properties file of a word document (stored in docProps/custom.xml)
It would be great to be able to generate these values dynamically as well.
Maybe you can give me some opinions on that topic.

[2022-05-12 16:30] jjhbw commented on #273
Not at the moment. Im not really familiar with the purpose of that file. Inserting arbitrary metadata is best done outside of docx-templates. The purpose of this library is purely the templating part by writing JS inside Word file templates.

[2022-05-13 07:41] DeveloperOl commented on #273
The file can be used to create custom fields, which can be included in multiple positions in the document. At the moment if you store a placeholder in the custom property it behaves very inconsistent.
If you do so, and store for example +++ test +++ in the document property it gets replaced in the word file when generated. But if you select the text and update the field (F9), it changes back to ++

[2022-05-13 07:43] DeveloperOl commented on #273
This feature would be useful for creating a value, which is used in multiple locations, but needs to be changed later. For example after changing the word manually, change the creation date mentioned somewhere in the doc.

[2022-05-14 17:17] iamsid opened #275 "Table starts from second page if rows spans more than 1 page"
Hi. I have configured a docx template which has 3 parts - top content, table below that, and a footer.
If the table fits in the first page, the output is as expected. But if it doesn't, the complete table starts from the second page, followed by more pages, if required. The top part is NOT a header. Just some content at the top.

This is what the ouput looks like:
![image](https://user-images.gith

[2022-05-18 00:23] PhuocHoangMinhNguyen opened #276 "Embed multiple images in 1 documents"
I am working on Node to create a document with multiple images for the same attributes. For example:
- image: [{ image1_object }, { image2_object }], or
- image: { image1: {}, image2: {}}

Can you please give some hints on how to accomplish this? I have spent time looking at the documentation but it doesn't help.

[2022-05-18 06:37] jjhbw commented on #276
What do you mean 'for the same attributes?' What have you tried? Can you give a more complete example of what you are trying to achieve? Ideally by showing me the desired result document.

[2022-05-18 06:42] jjhbw commented on #273
This sounds like generic metadata manipulation. That is out of scope of this library. I dont think you need templating functionality for that right? This seems like something you change in the file after generating the report.

It should be relatively simple to build, but has nothing to do with templating functionality and I prefer this library to remain a sharp tool that does one thing well.

[2022-05-18 07:36] PhuocHoangMinhNguyen commented on #276
@jjhbw Thanks for your reply. Luckily I have found the solution for my use case with the help of "additionalJsContext". I think I will close this issue since it is not an actual issue with the package.
It is a great package btw !

[2022-05-18 07:36] #276 closed

[2022-05-18 08:27] jjhbw commented on #276
Thanks for posting the solution and closing. Let me know if you have any other questions.

[2022-05-18 15:35] stephaned-ev commented on #249
You can center the tag in docx template, it will center the image :
ex :
<img width="676" alt="image" src="https://user-images.githubusercontent.com/67502129/169083035-036af967-4bf8-4e0d-a6ee-2ba4747cf7ed.png">

[2022-05-26 08:40] jjhbw commented on #275
Sorry for the late reply. Can you post a reproduction example? AFAIK the default should be that a table spans multiple pages and starts where you expect it.

[2022-05-27 02:50] PhuocHoangMinhNguyen commented on #194
Hi @jjhbw, have we had this feature in the latest version of docx-template?

[2022-05-27 07:01] jjhbw commented on #194
@PhuocHoangMinhNguyen i'm afraid not. I didn't get around to it yet. Rotation can be handled from JS though, outside of docx-templates.

[2022-05-27 07:07] PhuocHoangMinhNguyen commented on #194
@jjhbw It's okay man. Just wondering what do you mean by "didn't get around to it yet"? Is it hard or you haven't had time to look into it? If it is the latter, I will try to look in the code then, we are in dire need of this feature.

[2022-05-27 09:00] jjhbw commented on #194
Would be great if you could take a look. I'm swamped with other work at the moment, but happy to look at your PR.

[2022-05-31 14:56] drinac opened #277 "Nested table not rendering"
When nesting a table with FOR loop inside a table row that is also rendered with a FOR loop, the whole nested table is not rendered.
When the nested loop is not repeating nested table rows, the values are rendered, as in the second table inside example.

Example :
[nested_table.docx](https://github.com/guigrpa/docx-templates/files/8806148/nested_table.docx)
![template_example](https://user-images.

[2022-05-31 15:27] iamsid commented on #275
Thanks for the reply @jjhbw
Here's a Git project sample: https://gitlab.com/siddhant1991/docxtemplatetest

[2022-06-09 05:36] iamsid commented on #275
@jjhbw Were you able to reproduce it?

[2022-06-13 12:56] jjhbw commented on #277
I'm afraid this is a duplicate of https://github.com/guigrpa/docx-templates/issues/82. Sorry for the disappointing answer. Note my final comment in that issue for potential workarounds.

[2022-06-13 12:56] #277 closed

[2022-06-13 13:37] iamsid commented on #275
@jjhbw Not sure what you mean by removing the lines between table & text at the top.
I did set text wrapping to none & that did not work.
Could you please share the updated docx which works for you?

[2022-06-13 15:22] jjhbw commented on #275
I mean this whitespace. Not sure what it is. Some kind of newline.

Adjusted template (untested; i just downloaded and applied the changes I remember from this morning).
[bill_fixed.docx](https://github.com/guigrpa/docx-templates/files/8892377/bill_fixed.docx)

<img width="728" alt="Screenshot 2022-06-13 at 17 21 02" src="https://user-images.githubusercontent.com/12056384/173387925-16fdffa7-0f8b-4

[2022-06-15 05:38] iamsid commented on #275
That works. Thanks for sharing the file.
The UI was getting a bit messed up when removing that space.. but the final Doc generated was indeed correct.

[2022-06-22 06:39] jwasnoggin commented on #16
@guigrpa I was having the same issue and your second suggestion worked for me.

[2022-07-01 09:51] GiordanoArman commented on #24
@guigrpa would it be possible to allow setting a watermark from the library, without setting it directly in the word template?

[2022-07-01 14:00] nabramow opened #278 "How to use a nested dynamic variable as an argument for an image function?"
I'm trying to insert an image into my document, and the argument for that image function will be another dynamic variable.

For example, this is what I want to add to my docx:

`{#IMAGE insertBase64String({#myNestedVariable#})#}`

When I try to run this, I get an error "Error executing command: IMAGE insertImage( Unexpected end of input". I assume because myNestedVariable hasn't evaluated yet.

I

[2022-07-02 16:58] mathe42 commented on #278
I would expect with code

[code]

and in template `{#IMAGE insertBase64String(images[42])#}`

this should work. It is near complete standard JS that is executed!

[2022-07-02 17:02] mathe42 commented on #24
I don't think that this is possible. For those special use cases you can create your own code:

1. filledDoc.docx -> unzip (maybe only in memory not in filesystem)
2. Change the corresponding file (I think as of @iainfreestone this should be located in a  header.xml file
3. create zip all into a new file filledDocWithWatermark.docx

Hope this helps.

[2022-07-03 07:46] nabramow commented on #278
Thank you! I ended up needing to add come code related to our own codebase to pick the inner argument up as a variable (we trigger some behavior with certain variables).

[2022-07-03 07:46] #278 closed

[2022-07-06 14:51] GiordanoArman commented on #43
@guigrpa hi, I have tried using the library within a web worker but it complains that document is not present (of course it's present only in the main app context). Are there any polyfills to have this library work in a web worker? I would like to avoid an annoying 3 seconds screen freeze when a document is generated. Thanks!

[2022-07-06 14:58] vdechef commented on #43
@GiordanoArman I used to have it work in webworker. It was 2 years ago but it worked. I don't recall having to use dedicated polyfills.

[2022-07-06 15:05] mathe42 commented on #43
Same as for Deno see https://github.com/guigrpa/docx-templates#deno-usage

[2022-07-06 15:06] GiordanoArman commented on #43
@vdechef @mathe42 ok, then I will try to disable the sandbox when using within a web worker, thanks!

[2022-07-07 09:01] GiordanoArman commented on #43
maybe it could be helpful for other developers to mention explicitly in the docs that the sandbox needs to be disabled in order to use the library within a web worker?

[2022-07-14 23:03] alfredneu commented on #15
+1 for that feature request

[2022-07-17 10:14] GiordanoArman opened #279 "Dynamic table iteration inside list causes surrounding text to appear at each iteration"
Hi,

here's a repo where you can reproduce the issue: https://github.com/GiordanoArman/docx-templates-nested-table-bug

Basically when there's a table nested inside a list:
![template](https://user-images.githubusercontent.com/7461910/179393595-0d681e7a-80a0-4eb3-8b65-0188e8a49307.PNG)

the iteration of the table iterates of the surrounding text as well
![wrong output](https://user-images.githubus

[2022-08-01 20:55] JonRC opened #280 "Special characters like in docx template"
- When I use a docx with a `?` character as template, it throws an error.

Erro: `Error executing command 'name?': SyntaxError: Unexpected end of input`

DOCX file: "your name is {name?}"

![image](https://user-images.githubusercontent.com/61638433/182244924-23629933-daa6-4eb7-8d10-358774064687.png)

CODE:
[code]

- running on NodeJs 16.16.0 - Ubuntu

How can I use `?` and other special characters

[2022-08-01 20:57] mathe42 commented on #280
Why do you want a `?`.

`name?` is not valid JavaScript so the error is expected...

[2022-08-01 21:01] JonRC commented on #280
Becouse users will create the templates. They need to write a question to be replaced.
For exemple, I have a user that want to use `{what is your name?}`

I'm wondering if I can disable the javascript feature and just use the replament feature.

[2022-08-01 21:08] mathe42 commented on #280
That is not possible. All between {...} has to be valid JS.

I never had user-provided templates. But you can create a list of valid fields where you can document the complete stuff...

Basicly what you need is a preprocessor-feature where you get the content between {...} and return valid JS code. (would be a hook into it here https://github.com/guigrpa/docx-templates/blob/master/src/processTempl

[2022-08-01 21:16] JonRC commented on #280
Greate.
I noticed that the Typescript Types doesn't have this key in `UserOptions`.
Is there a way to get the `processor` type?

![image](https://user-images.githubusercontent.com/61638433/182248129-24a96949-96eb-4351-99a5-f64f0ffb09ba.png)

[2022-08-02 07:48] jjhbw commented on #280
Thanks for replying @mathe42 ! Closing this because it seems answered.

[2022-08-02 07:48] #280 closed

[2022-08-18 07:24] Arthemis97 commented on #98
additional js function for dynamic checkbox

[code]

[2022-08-18 09:33] jjhbw commented on #98
Thanks for your answer @Arthemis97 ! Let me know if this works for you, @lukakiro @ulknight . I may add it to the docs if it is a solid solution.

[2022-08-19 10:12] angelfraga commented on #135
@jjhbw here I am facing the same issue with angular 12 webpack 5.

It seems Webpack 5 does not polyfill the node libs automatically like webpack 4 was doing.
eg: vm, utils ...

Since the sandboxjs library has `vm-browserfy` as dev dependency instead of a dependency we do not get installed it when installing docx-templates.

It can be solved by installing vm-browserfy as dev dependency. But I guess

[2022-08-19 14:54] mathe42 commented on #135
You can also use the browser-ready-bundle see https://github.com/guigrpa/docx-templates#polyfilled-browser-ready-bundle this includes vm-browserfy.

BUT if you do the report-generation in a worker you don't block the Main-Thread and you can (also need to as vm-browserfy doesn't work in a worker) disable the sandbox (so no vm package needed).

[2022-08-25 14:26] hadestructhor opened #281 "INS command doesn't work in header"
When reporting a **bug**, please provide:
- A small reproducible example consisting of the code and .docx template you used.
- A screenshot of the result you get and an explanation as to why this result is unexpected.
- Information about your compiler toolchain version (e.g. Angular, Webpack, etc.).
- Information about your runtime environment (which browser, Electron, or NodeJS version).

I have

[2022-08-26 16:01] #273 closed

[2022-08-26 16:17] jjhbw commented on #281
That should just work. I wrote an extra test for this just to be sure. Can you check what you are doing differently from this test https://github.com/guigrpa/docx-templates/blob/946cdad1feff1c4756d1585afa953ba8279db1ec/src/__tests__/templating.test.ts#L1187 that uses this template https://github.com/guigrpa/docx-templates/blob/946cdad1feff1c4756d1585afa953ba8279db1ec/src/__tests__/fixtures/insertI

[2022-08-30 07:34] #281 closed

[2022-08-30 07:40] jjhbw commented on #281
Great to hear that it has been resolved. Thanks for posting the solution. 👍

[2022-09-08 23:51] billmcknight1953 opened #282 "Image won't display. Why?"
I have a Word template with the following Image tag:
`{IMAGE injectImage(analyses[0].images[0].data)}`

The associated function that creates the report from the report data looks like this.
[code]
As you can see, the data submitted to the **injectImage** function is the full base64 string of the image.

But no image is injected into the resulting Word doc, and no error is thrown.  What might be wr

[2022-09-09 06:26] jjhbw commented on #282
Can you post your template and ideally a fully reproducible example?

[2022-09-09 13:19] billmcknight1953 commented on #282
I am closing this.  I went back to basics to test against a much simpler template and was able to get an image to display.  Apparently, the issue might have been the formatting (spacing) or placement of the Image tag in the template.

[2022-09-09 13:19] #282 closed

[2022-09-12 09:53] mehrdadTemp opened #283 "go to the next page with a specific condition"
HI

how to go to the next page (go to next docx page and keep going) with a specific condition like

+++IF condition +++
+++= page_break +++
+++END-IF+++

In python can use this
//code
from   docxtpl import DocxTemplate, R, InlineImage
page_break = R('\f')
//docx template
{% if condition %}
     {{r page_break }}
{% endif %}

[2022-09-17 13:53] billmcknight1953 opened #284 "Does docx-templates use eval? Violates Content Security Policy"
I am using docx-templates (4.9.2) in an Angular 13 application, hosted via AWS Cloudfront.   When docx-templates is executed in that context, I am getting this unsafe -eval error:

_Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline'"._

Does docx-templates use eva

[2022-10-11 10:00] PreemyJoshy123 opened #285 "**bug** Show defined variables as it is if it is not defined in the data object"
![image](https://user-images.githubusercontent.com/115543202/195060447-e4a11f3d-4ca6-4760-b854-32f0983c48fd.png)

[2022-10-11 12:08] mathe42 commented on #285
@PreemyJoshy123 Please provide a full reproduction with code + template! A simple image of the output log has no use to reproduce the problem.

[2022-10-11 12:17] PreemyJoshy123 commented on #285
@mathe42  The below is the create report function and the template i am using to replace variables.Here i am not assigning value to variable data .But after creating report in need to retain that ${data} as it is . How it is possible .

const buffer1 = await createReport({
      template: content,
      cmdDelimiter: ['${', '}'],
      data: {
		firstname:'jhon',
		employeename:'jhon smith'
		},

[2022-10-11 12:19] mathe42 commented on #285
That is not possible... You could use

[code]

[2022-10-11 12:24] PreemyJoshy123 commented on #285
we can't asume that ${data} will be always that it will change according to each user . i m using this for creating letters for the employees in my project . If we mention any variable that is not defined in data object we need to show that variable as it is . How it is possible ??

[2022-10-11 12:29] mathe42 commented on #285
You could do ${ myVar ?? 'fallback'}

Not sure what you want to accive can you give some examples?

[2022-10-11 12:41] mathe42 commented on #285
What about:

`${ myVar ?? '${myVar}'}` in template?

[2022-10-13 06:21] PreemyJoshy123 commented on #285
@mathe42  Can you show me an example for error handler to catch errors in template commands .

[2022-10-13 10:03] jjhbw commented on #285
@PreemyJoshy123
https://github.com/guigrpa/docx-templates#custom-error-handler

Closing this issue because it is not a bug.

[2022-10-13 10:03] #285 closed

[2022-10-26 08:30] #284 closed

[2022-10-26 08:48] #264 closed

[2022-11-10 01:04] jwasnoggin commented on #194
I've created a PR for this: #286

[2022-11-10 11:02] #194 closed

[2022-11-10 11:03] jjhbw commented on #194
Thanks @jwasnoggin ! Looks like a sensible solution to me.

[2022-11-28 15:22] spookyuser commented on #173
Yeah this would be amazing!

[2022-11-30 14:53] Vitomir2 commented on #46
Hey, @nabilzhafri , I used your way to make a page break, but when there is no text (deleted 'Second page'), it skips this paragraph and still add the next on the same page. When I insert even one letter, it do the page break. Do you know a way to make the page break without adding text in the paragraph element?